body {
  margin: 0;
  padding: 0;
  font-family: $type-primary;
  font-size: 18px;
  color: $color-night;
}

html {
  background: $color-neue;
}

* {
  box-sizing: border-box;
  line-height: $line-height;
}

*:focus {
  outline: 0;
}

.splash-screen {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;

  &.splash-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url($splash-image);
    content: '';
    opacity: $opa-fade;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  &.splash-center {
    justify-content: center;
    // flex-direction: unset;
  }

  .splash-header {
    padding: 8px;
    margin: 50px 20px 0;
    border-radius: $button-radius;

    h1 {
      letter-spacing: 8px;
      text-transform: uppercase;
      font-weight: 900;
    }

    p {
      color: lighten($color-night, 20%);
      margin-top: 0;
      margin-bottom: 3rem;
      font-weight: 400;
      font-size: .9rem;
    }
  }

  .splash-login-box {
    margin: 20px;
    padding: 30px;
    width: 90%;
    border-radius: $button-radius;
    background-color: rgba($color-night, .2);

    form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  .helper-text {
    color: $color-neue;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

.wrapper {
  padding: 20px;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.button {
  display: inline-block;
  white-space: nowrap;
  height: $input-height;
  line-height: $input-height;
  background: $color-neue;
  padding: 0 14px;
  box-shadow: 0 4px 1px rgba(50,50,93,.1), 0 1px 3px rgba(0,0,0,.1);
  border-radius: $button-radius;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: $color-night;
  text-align: center;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  transition: all $transition-speed ease;
  background-size: 200% auto;
  text-shadow: 0 1px 3px rgba(36, 180, 126, .4);

  &:hover {
    transform: translateY(-1px);
    background-position: bottom center;
    opacity: $opa-fade;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .05), 0 3px 6px rgba(0, 0, 0, .05);
  }

  &.primary {
    background: $color-primary;
    color: $color-neue;
  }

  &.disabled,
  &[disabled] {
    color: $color-neue;
    background: darken($color-accent, 20%);
    pointer-events: none;
    opacity: .4;
  }

  &.wide {
    width: 100%;
  }
}

input {
  margin-bottom: 1rem;
  width: 100%;
  font-size: .8rem;
  height: $input-height - $input-border-bottom;
  line-height: $input-height - $input-border-bottom;
  padding: 5px 0;
  border-radius: 0;
  font-weight: 300;
  color: inherit;
  background: inherit;
  border: 0;
  border-bottom: $input-border-bottom solid transparent;
  outline: none;

  &[disabled] {
    opacity: $opa-fade;

    &.cursor {
      cursor: pointer !important;
    }
  }

  &.primary {
    color: $color-night;
    border-bottom: $input-border-bottom solid lighten($color-primary, 10%);

    &:focus {
      border-bottom: $input-border-bottom solid $color-primary;
    }

    &::placeholder {
      color: $color-night;
      opacity: $opa-fade;
    }
  }
}
