body {
  margin: 0;
  padding: 0;
  font-family: $type-primary;
  font-size: 18px;
  color: $color-night;
}

.splash-screen {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &.splash-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url($splash-image);
    content: '';
    opacity: $opa-fade;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .splash-header {
    padding: 8px;
    margin: 50px 20px 0;
    border-radius: $button-radius;

    h1 {
      letter-spacing: 8px;
      text-transform: uppercase;
      font-weight: 900;
    }

    p {
      color: lighten($color-night, 20%);
      margin-top: 0;
      margin-bottom: 3rem;
      font-weight: 400;
      font-size: .9rem;
    }
  }

  .helper-text {
    color: $color-neue;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

.wrapper {
  padding: 20px;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.button {
  white-space: nowrap;
  display: inline-block;
  height: $input-height;
  line-height: $input-height;
  background: $color-neue;
  padding: 0 14px;
  box-shadow: 0 4px 1px rgba(50,50,93,.05), 0 1px 3px rgba(0,0,0,.05);
  border-radius: $button-radius;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: $color-night;
  text-align: center;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  transition: all $transition-speed ease;
  background-size: 200% auto;
  text-shadow: 0 1px 3px rgba(36, 180, 126, .4);

  &:hover {
    transform: translateY(-1px);
    background-position: bottom center;
    opacity: $opa-fade;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .05), 0 3px 6px rgba(0, 0, 0, .05);
  }

  &.primary {
    background: $color-primary;
    color: $color-neue;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
