@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900");
/* NORMALIZE - EDITED
 * TODO: Edit properly and put in a Gist or something!
------------------------------------------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0; }

h2 {
  font-size: 1.5em;
  margin: 0; }

h3 {
  font-size: 1.17em;
  margin: 0; }

h4 {
  font-size: 1em;
  margin: 0; }

h5 {
  font-size: 0.83em;
  margin: 0; }

h6 {
  font-size: 0.75em;
  margin: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p,
pre {
  margin: 0; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q::after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl,
menu,
ol,
ul {
  margin: 0; }

nav ul,
nav ol {
  list-style: none;
  padding: 0; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Roboto", sans-serif;
  font-size: 18px;
  color: #222; }

html {
  background: #f3f4f4; }

* {
  box-sizing: border-box;
  line-height: 1.5; }

*:focus {
  outline: 0; }

.splash-screen {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden; }
  .splash-screen.splash-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1532690261466-909b35d13f57?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=00efebeb6966e3737fc1aaa49d768aa9&auto=format&fit=crop&w=1000&q=80");
    content: '';
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  .splash-screen.splash-center {
    justify-content: center; }
  .splash-screen .splash-header {
    padding: 8px;
    margin: 50px 20px 0;
    border-radius: 4px; }
    .splash-screen .splash-header h1 {
      letter-spacing: 8px;
      text-transform: uppercase;
      font-weight: 900; }
    .splash-screen .splash-header p {
      color: #555555;
      margin-top: 0;
      margin-bottom: 3rem;
      font-weight: 400;
      font-size: .9rem; }
  .splash-screen .splash-login-box {
    margin: 20px;
    padding: 30px;
    width: 90%;
    border-radius: 4px;
    background-color: rgba(34, 34, 34, 0.2); }
    .splash-screen .splash-login-box form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
  .splash-screen .helper-text {
    color: #f3f4f4;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 2rem; }

.wrapper {
  padding: 20px; }

.app-title {
  font-size: 1.5em; }

.app-intro {
  font-size: large; }

.button {
  display: inline-block;
  white-space: nowrap;
  height: 50px;
  line-height: 50px;
  background: #f3f4f4;
  padding: 0 14px;
  box-shadow: 0 4px 1px rgba(50, 50, 93, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #222;
  text-align: center;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease;
  background-size: 200% auto;
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4); }
  .button:hover {
    transform: translateY(-1px);
    background-position: bottom center;
    opacity: 0.9;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05); }
  .button.primary {
    background: #5482ed;
    color: #f3f4f4; }
  .button.disabled, .button[disabled] {
    color: #f3f4f4;
    background: #b9b3b3;
    pointer-events: none;
    opacity: .4; }
  .button.wide {
    width: 100%; }

input {
  margin-bottom: 1rem;
  width: 100%;
  font-size: .8rem;
  height: 48px;
  line-height: 48px;
  padding: 5px 0;
  border-radius: 0;
  font-weight: 300;
  color: inherit;
  background: inherit;
  border: 0;
  border-bottom: 2px solid transparent;
  outline: none; }
  input[disabled] {
    opacity: 0.9; }
    input[disabled].cursor {
      cursor: pointer !important; }
  input.primary {
    color: #222;
    border-bottom: 2px solid #82a4f2; }
    input.primary:focus {
      border-bottom: 2px solid #5482ed; }
    input.primary::placeholder {
      color: #222;
      opacity: 0.9; }
