// Typography
$type-primary: 'Lato', 'Roboto', sans-serif;

// Colours
$color-neue: #f3f4f4;
$color-night: #222;
$color-primary: lighten(#4b7bec, 2%);
$color-secondary: #6772e5;

$transition-speed: .4s;

$button-radius: 4px;

$input-height: 50px;
$input-border-bottom: 2px;

$opa-fade: .9;
